<%- include('partials/dash-header'); -%>


    

    </style></head>

<body class="h-screen bg-[#0062a4] bg-center "  dir="rtl">

    <div class="flex h-screen">

        <!-- Sidebar -->
        <div class="backdrop-filter backdrop-blur-sm bg-black bg-opacity-30 text-white w-64 fixed inset-y-0 right-0 flex flex-col justify-between">

            

            <!-- Sidebar content -->
            <div class="flex-grow overflow-y-auto text-center ">
                <!-- Sidebar items -->
                <a href="/dashboard" class="block p-4 hover:bg-black opacity-50 alexandria">الواجهة الرئيسية</a>
                <a href="/malade" class="block p-4 hover:bg-black opacity-50  alexandria">قائمة المرضى</a>
                <a href="/program" class="block p-4 hover:bg-black opacity-50 alexandria">قائمة الأدوية</a>
                <a href="/product" class="block p-4 hover:bg-black opacity-50 alexandria">عتاد المصلحة</a>
                <a href="/program" class="block p-4 hover:bg-black opacity-100 alexandria">برنامج عمل الأطباء</a>

            </div>

        </div>

        <!-- Main content -->
        <div class="mr-72 flex-1 overflow-y-auto pb-14 pl-8">

            <div class="py-12 alexandria">
                
              <!--Inserting programs form-->

                <div class="sm:mx-auto sm:w-full sm:max-w-sm" id="addDiv" <% if (addDiv) { %>style="display: none;"<% } %>>
                  <form class="space-y-6" id="addprogram">
                    <div class="flex flex-wrap -mx-3 mb-6">
                      <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-first-name">
                          اسم الطبيب
                        </label>
                        <input id="name" required class="appearance-none block w-full bg-white text-black border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" >
                      </div>
                      
                    </div>

                    <div class="flex flex-wrap -mx-3 mb-6">
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-first-name">
                          المعاينة الخارجية
                        </label>
                        <input id="day" required class="appearance-none block w-full bg-white text-black border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" >
                      </div>
                      <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
                          المعاينة الداخلية
                        </label>
                        <input id="type" name="type" required class="appearance-none block w-full bg-white text-black border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" >
                      </div>
                    </div>
                    
                    
                    <button type="submit" 
                    class="bg-[#005582] hover:bg-[#0774b5] text-white font-bold py-2 px-4 w-full rounded focus:outline-none focus:shadow-outline">حفظ</button>
                  </form>
                </div>

                 <!--Updating programs form-->

                <div class="sm:mx-auto sm:w-full sm:max-w-sm " id="editDiv" <% if (editDiv) { %>style="display: none;"<% } %>>
                  <% getprograms.forEach(getprogram => { %>
                    <form class="space-y-6" id="editprogram">
                      <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                          <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-first-name">
                            اسم الطبيب
                          </label>
                          <input value="<%= getprogram.id %> " id="eid" required class="hidden appearance-none block w-full bg-white text-black border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" >
                          <input value="<%= getprogram.doctor_name %> " id="ename" required class="appearance-none block w-full bg-white text-black border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" >
                        </div>
                        
                      </div>
  
                      <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                          <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-first-name">
                             المعاينة الخارجية
                          </label>
                          <input value="<%= getprogram.day %> " id="eday" required class="appearance-none block w-full bg-white text-black border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"  type="text" >
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                          <label  class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="grid-last-name">
                              المعاينة الداخلية
                          </label>
                          <input value="<%= getprogram.type %> " id="etype" name="type" required class="appearance-none block w-full bg-white text-black border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" >
                        </div>
                      </div>
                      
                      <button type="submit" 
                      class="bg-[#005582] hover:bg-[#0774b5] text-white font-bold py-2 px-4 w-full rounded focus:outline-none focus:shadow-outline">تعديل</button>
                    </form>
                  <% }); %>
                </div>
            </div>
               
                <!-- Table -->
                <div id="table"  class="flex flex-col justify-center border-width: 1px alexandria  backdrop-filter backdrop-blur-sm bg-black bg-opacity-30 shadow-xl rounded-3xl px-6 lg:px-8" <% if (table) { %>style="display: none;"<% } %>>
                <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
                    <table id="example" class="table-auto w-full ">
                        <thead>
                            <tr>
                                <th class="px-4 text-white py-2 hidden">الاسم و اللقب</th>
                                <th class="px-4 text-white py-2"> اسم الطبيب </th>
                                <th class="px-4 text-white py-2"> المعاينة الخارجية</th>
                                <th class="px-4 text-white py-2"> المعاينة الداخلية</th>
                                <th class="px-4 text-white py-2">تعديل</th>
                                <th class="px-4 text-white py-2">حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% programs.forEach(program => { %>
                            <tr >
                                <td class="border px-4 py-2 hidden"> <%= program.id %> </td>
                                <td class="border px-4 py-2"> <%= program.doctor_name %> </td>
                                <td class="border px-4 py-2"><%= program.day %> </td>
                                <td class="border px-4 py-2"><%= program.type %></td>
                                <td><a href="/programs/<%= program.id %>/"><img class="h-6 px-4 " src="/images/edit.png" alt="" srcset=""></a></td> 
                                <td><a href="/programs/<%= program.id %>/delete"><img class="h-6 px-4 " src="/images/delete.png" alt="" srcset=""></a></td> 
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
        
        <!--Data Table -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript"> </script>
        <script src="/javascripts/dashboard.js"></script> 


        <script>

           // add new user
    document.getElementById('addprogram').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission
    
        // Get form input values
        const name = document.getElementById('name').value;
        const day = document.getElementById('day').value;
        const type = document.getElementById('type').value;
        
    
        // Create an object with form data
        const formData = {
            name: name,
            day: day,
            type:type
        };
    
        // Send data to Express server
        fetch('/addprogram', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(response => response(window.location.reload()))
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
        
            
        
    });
    
    // edit user 
    document.getElementById('editprogram').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent form submission
    
        // Get form input values
        const id = document.getElementById('eid').value;
        const name = document.getElementById('ename').value;
        const day = document.getElementById('eday').value;
        const type = document.getElementById('etype').value;
        
    
        // Create an object with form data
        const formData = {
            id: id ,
            name: name,
            day: day,
            type:type

        };
        console.log(formData);
        // Send data to Express server
        fetch('/programs/:id/edit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(response => response(window.location.reload()))
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
        
            
        
    });

        </script>
       


<%- include('partials/dash-footer'); -%>
